@import url('https://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here|Roboto:400,400i,700,700i|VT323&display=swap');

/* Google Fonts
font-family: 'Just Me Again Down Here', cursive;   ---Sticky Notes
font-family: 'Roboto', sans-serif;   ---Paragraph 
font-family: 'VT323', monospace;   ---Headings
*/

/* Defaults/Elements */

body {
    font-size: 16px;
    background-color: black;
    background-image: url(images/desktop.png);
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'VT323', monospace;
    color: red;
}

p {
    font-family: 'Roboto', sans-serif;
    color: greenyellow;
}


/* Links */

a {
    text-decoration: none;
    font-weight: bold;
}

/* Classes */

.page-wrapper {
    display: grid;
    width: 450px;
    border: red 2px solid;
    height: 500px;;
    text-align: center;
    margin: 0 auto;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    background-color: black;
}

.page-wrapper::-webkit-scrollbar { 
    width: 0 !important 
}

