@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i|Nothing+You+Could+Do&display=swap');

/* Google Fonts
font-family: 'Nothing You Could Do', cursive;
font-family: 'Montserrat', sans-serif;
*/

/* Defaults/Elements */

body {
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nothing You Could Do', cursive;
    letter-spacing: .3rem;
}

p {
    font-family: 'Montserrat', sans-serif;
    line-height: 2rem;
    margin-bottom: 1rem;
    text-align: justify;
}

/* Links */

a {
    text-decoration: none;
    font-weight: bold;
}

/* Classes */

.page-wrapper {
    display: grid;
    width: 35em;
    text-align: center;
    margin: 0 auto;
}