@import url('https://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here|Roboto:400,400i,700,700i|VT323&display=swap');

/* Google Fonts
font-family: 'Just Me Again Down Here', cursive;   ---Sticky Notes
font-family: 'Roboto', sans-serif;   ---Paragraph 
font-family: 'VT323', monospace;   ---Headings
*/

/* Defaults/Elements */

body {
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'VT323', monospace;
}

p {
    font-family: 'Roboto', sans-serif;
}

/* Links */

a {
    text-decoration: none;
    font-weight: bold;
}

/* Classes */

.page-wrapper {
    display: grid;
    width: 35em;
    text-align: center;
    margin: 0 auto;
}