@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Tomorrow:400,400i,700,700i&display=swap');

/* Google Fonts
font-family: 'Tomorrow', sans-serif;   ---Headings
font-family: 'Lato', sans-serif;   --- Paragraphs
*/

/* Defaults/Elements */

body {
    font-size: 16px;
    background-color: black;
    background-image: url(images/endless_road.gif);
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-top: 70px;
    font-family: 'Lato', sans-serif; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Tomorrow', sans-serif;
    color: #FF6161;
}

h1 {
    font-size: 2.5em;
}

p {
    font-family: 'Lato', sans-serif;
    color: white;
    text-align: left;
    line-height: 1.5em;
}

footer a {
    margin: 0 20px;
}

nav ul {
    padding-inline-start: 0;
}

/* Links */

a {
    text-decoration: none;
    font-weight: bold;
    color: #FF6161;
    
}

/* Classes */

.page-wrapper {
    display: grid;
    width: 450px;
    height: 600px;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    border: white ridge 4px;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    background-color: black;
}

.page-wrapper::-webkit-scrollbar { 
    width: 0 !important 
}

.design-selection {
    text-align: center;
}

.design-selection a:nth-child(odd) {
    color: white;
    font-style: italic;
}

.zen-resources ul {
    padding-inline-start: 0;
}

.design-archives {
    position: absolute;
    top: 50px;
    left: 50px;
}